<img src="<perch:content id="portrait" type="image" label="Portrait" height="224" required="true" />" alt="Portrait of <perch:content id="portrait_name" type="text" label="Portrait Name" required="true" title="true" />, <perch:content id="portrait_title" type="text" label="Portrait Title" required="true" title="true" />">
          <p>
            <perch:content id="portrait_name" type="text" label="Portrait Name" required="true" title="true" /> <br><i><perch:content id="portrait_title" type="text" label="Portrait Title" required="true" title="true" /></i>
          </p>